@charset "utf-8";

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 40em;
    height: auto;
    /* 禁止用户选择 */
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

body {
    /* Flex */
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* Common style */
    color: #2e6874;
    font-family: 'Microsoft YaHei',sans-serif;
}

h1,h2,p,img {
    margin: 0;
    padding: 0;
}

a {
    color: #2e6874;
    text-decoration:none;
}

a:hover {
    color: #4c93a1;
}

div.title {
    width: 100%;
    height: 10em;
    background-color: #2e6874;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1.title {
    color: #ffffff;
    font-size: 2.3em;
    height: 1.7em;
    line-height: 1.7em;
}
h2.title {
    color: #ffffff;
    font-size: 1.5em;
    height: 1.7em;
    line-height: 1.7em;
}

p.title {
    height: 2em;
    line-height: 2em;
    color: #fff;
}

table {
    width: 25em;
    margin-left: 2em;
}

tr {
    height: 2em;
    line-height: 2em;
}

th {text-align: left;}

.menu {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.5em;
}

.list {
    width: 6em;
    height: 2em;
    line-height: 2em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.list:hover {
    color: #4c93a1;
}

.left0em {
    margin-left: 0.5em;
}

.left1em {
    margin-left: 0.5em;
}

.main {
    width: 100%;
    height: 30em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 17em;
    height: 15em;
}

div.image {
    position: relative;
    width: 15em;
    height: 15em;
    align-self: flex-end;
}

img.image {
    width: 8em;
    position: absolute;
    bottom: 0;
}

.bottom {
    width: 100%;
    height: 13em;
    border-top: solid 1px #2e6874;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.information {
    height: 5em;
    line-height: 5em;
}

.information_mobile {
    display: none;
}

div.link {
    padding: 3em 0 3em 0;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    width: auto;
    height:auto;
    text-align: center;
}
div.link_content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3em;
}

.wtfpl {
    display: none;
}

p.link_content {
    width: 12em;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

#qrcode {
    height: 12em;
}

.about_us {
    width: 40em;
    padding: 2em 0 3em 0;
}
div.donation {
    width: 100%;
    height: auto;
    padding: 3em 0 1em 0;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
img.donation {
    width: 100%;
    max-width: 25em;
    height: auto;
}
