@charset "utf-8";

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    /* 禁止用户选择 */
    user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
}

body {
    /* Flex */
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* Common style */
    color: #2e6874;
    font-family: 'Microsoft YaHei',sans-serif;
}

h1,h2,p,img {
    margin: 0;
    padding: 0;
}

a {
    color: #2e6874;
    text-decoration:none;
}

a:hover {
    color: #4c93a1;
}

div.title {
    width: 100%;
    height: 8em;
    background-color: #2e6874;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1.title {
    color: #ffffff;
    font-size: 2.3em;
    height: 1.7em;
    line-height: 1.7em;
}
h2.title {
    color: #ffffff;
    font-size: 1.5em;
    height: 1.7em;
    line-height: 1.7em;
}

p.title {
    height: 2em;
    line-height: 2em;
    color: #fff;
}

table {
    width:90%;
    max-width: 25em;
    border-collapse:collapse;
}

tr {
    height: 2.5em;
    line-height: 2.5em;
}

th,td {
    text-align: center;
}

.menu {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    margin-top: 1em;
}

.list {
    width: 4em;
    height: 5em;
    line-height: 2.5em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.list:hover {
    color: #4c93a1;
}

.left0em {
    margin-left: 0em;
}
.left1em {
    margin-left: 0.5em;
}

.main {
    margin-top: 2em;
    width: 100%;
    height: 30em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column-reverse wrap;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 17em;
    height: 15em;
}

pre {
    display: none;
}

.wtfpl {
    width: 90%;
    height:13em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #000000;
}

#mobile_wtfpl {
    height: 25em;
}

div.image {
    position: relative;
    width: 15em;
    height: 15em;
    align-self: flex-end;
}

img.image {
    width: 10em;
    position: absolute;
    right: 10%;
    bottom: 0;
}

.bottom {
    width: 100%;
    height:auto;
    padding: 1.5em 0 1.5em 0;
    border-top: solid 2px #2e6874;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.information {
    display: none;
}
.information_mobile {
    width: 90%;
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
._mobe {
    width: 6em;
    height: 2em;
    line-height: 2em;
    text-align: center;
}

div.link {
    width: 90%;
    max-width: 30em;
    padding: 1em 0em 3em 0em;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height:auto;
    text-align: center;
}
div.link_content {
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    min-height: 2.5em;
}

#baidu, #bilibili {
    flex-flow: row wrap;
    justify-content: space-between;
}
#qrcode {
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 0;
}

.mobile_hide {
    display: none;
}

p.link_content {
    height: auto;
    min-height: 2.5em;
    display: flex;
    display: -webkit-flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.about_us {
    width: 90%;
    padding: 0em 0 3em 0;
    display: flex;
    display: -webkit-flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}